<?xml version="1.0" encoding="utf-8"?>
<module>
  <assemblies>
    <add assembly="Forte.EpiserverRedirects" />
  </assemblies>
  <clientResources>
  </clientResources>
  <dojo>
    <!-- Add a mapping from alloy to ~/ClientResources/Scripts to the dojo loader configuration -->
    <paths>
      <add name="episerverRedirectsComponent" path="ClientResources/UrlRedirectsComponent" />
      <add name="episerverRedirectsMenu" path="ClientResources/UrlRedirectsMenu" />
      <add name="episerverRedirectsMenu-form" path="ClientResources/UrlRedirectsMenu/UrlRedirectsMenuForm" />
      <add name="episerverRedirectsMenu-grid" path="ClientResources/UrlRedirectsMenu/UrlRedirectsMenuGrid" />
      <add name="episerverRedirects" path="ClientResources" />
    </paths>
  </dojo>

  <clientModule initializer="episerverRedirects.UrlRedirectsModuleInitializer">
    <moduleDependencies>
      <add dependency="Shell" />
    </moduleDependencies>
  </clientModule>
</module>

