<?xml version="1.0" encoding="utf-8"?>
<module>
  <assemblies>
    <add assembly="Forte.EpiserverRedirects" />
  </assemblies>
  <clientResources>
      <add name="Moment" path="moment.js" resourceType="Script" />
  </clientResources>
  <dojo>
    <!-- Add a mapping from alloy to ~/ClientResources/Scripts to the dojo loader configuration -->
    <paths>
      <add name="redirectsComponent" path="ClientResources/RedirectsComponent" />
      <add name="redirectsMenu" path="ClientResources/RedirectsMenu" />
      <add name="redirectsMenu-form" path="ClientResources/RedirectsMenu/RedirectsMenuForm" />
      <add name="redirectsMenu-grid" path="ClientResources/RedirectsMenu/RedirectsMenuGrid" />
      <add name="redirects" path="ClientResources" />
    </paths>
  </dojo>

  <clientModule initializer="redirects.RedirectsModuleInitializer">
    <moduleDependencies>
      <add dependency="Shell" />
    </moduleDependencies>
  </clientModule>
</module>

