<?xml version="1.0" encoding="utf-8"?>
<module>
  <assemblies>
    <add assembly="Forte.RedirectMiddleware" />
  </assemblies>
  <clientResources>
  </clientResources>
  <dojo>
    <!-- Add a mapping from alloy to ~/ClientResources/Scripts to the dojo loader configuration -->
    <paths>
      <add name="redirectsComponent" path="ClientResources/UrlRedirectsComponent" />
      <add name="redirectsMenu" path="ClientResources/UrlRedirectsMenu" />
      <add name="redirectsMenu-form" path="ClientResources/UrlRedirectsMenu/UrlRedirectsMenuForm" />
      <add name="redirectsMenu-grid" path="ClientResources/UrlRedirectsMenu/UrlRedirectsMenuGrid" />
      <add name="redirects" path="ClientResources" />
    </paths>
  </dojo>

  <clientModule initializer="redirects.UrlRedirectsModuleInitializer">
    <moduleDependencies>
      <add dependency="Shell" />
    </moduleDependencies>
  </clientModule>
</module>

