<?xml version="1.0" encoding="utf-8"?>
<module>
  <assemblies>
    <add assembly="EpiserverSite" />
  </assemblies>
  <clientResources>
  </clientResources>
  <dojo>
    <!-- Add a mapping from alloy to ~/ClientResources/Scripts to the dojo loader configuration -->
    <paths>
      <add name="urlRedirectsComponent" path="ClientResources/UrlRedirectsComponent" />
      <add name="urlRedirectsMenu" path="ClientResources/UrlRedirectsMenu" />
      <add name="urlRedirectsMenu-form" path="ClientResources/UrlRedirectsMenu/UrlRedirectsMenuForm" />
      <add name="urlRedirectsMenu-grid" path="ClientResources/UrlRedirectsMenu/UrlRedirectsMenuGrid" />
      <add name="urlRedirectsMenu-wildCardTest" path="ClientResources/UrlRedirectsMenu/UrlRedirectsMenuWildcardTest" />
      <add name="urlRedirect" path="ClientResources" />
    </paths>
  </dojo>

  <clientModule initializer="urlRedirect.UrlRedirectsModuleInitializer">
    <moduleDependencies>
      <add dependency="Shell" />
    </moduleDependencies>
  </clientModule>
</module>

