@{
    Layout = "./UrlRedirectsLayout.cshtml";
    ViewBag.Title = "Url Redirects";
}
@inherits System.Web.Mvc.WebViewPage


<div class="epi-padding">
    <div class="epi-contentContainer epi-fullWidth">
        <div class="epi-contentArea">
            <h1 class="EP-prefix">
                Url Redirects
            </h1>

            <p>
                <span class="EP-systemInfo">
                    Url Redirects are used to manage redirects.
                </span>
            </p>

            <div data-dojo-type="UrlRedirectsMenu"></div>
        </div>
    </div>
</div>
