@model TestViewModel

<h2>Lorem ipsum dolor amet</h2>

<span>
    @Html.LabelFor(m => m.Number)
    @Html.PropertyFor(m => m.Number)
</span>

<div>
    @Html.PropertyFor(m => m.CurrentPage.Image)
</div>
